*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(240, 242, 242);
}
#nav {
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: fixed; */
    top: 0;
    margin: auto;
    width: 100%;
    height: 70px;
    /* background-image: url(https://adn-static1.nykaa.com/media/wysiwyg/2022/common-strip-prebuzz.jpg); */
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    position: fixed;
    z-index: 10000;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navbar>div>a {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

#navbar>div>a {
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    margin-left: 30px;
}

#navbar>div>a:hover {
    color: black;
    text-decoration: underline;
}

.logo {
    color: rgb(80, 136, 208);
    font-size: 30px;
    margin-left: -30px;
}
#search{
    padding: 10px 36px;
    border: none;
    border-radius: 5px;
}

#menu-btn {
    margin-left: 50px;
    display: none;
}

#cart {
    font-size: 30px;
    color: rgb(129, 81, 169);
}
#slider #close{
    width: 20px;
    height: 20px;
}


#close>img {
    width: 20px;
}

#slider {
    height: 100vh;
    width: 0px;
    /* margin-top: 90px; */
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    max-width: 600px;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0px;
    right: 0px;
}

#br {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    align-items: stretch;
    font-size: 25px;
}
#br>a{
    text-decoration: none;
    padding: 10px 12px;
    margin-top: 30px;
    text-transform: uppercase;
}

#banner{
    width: 100%;
    height: 60px;
    border: 0px solid red;
    margin: auto;
    text-align: center;
    background-image: url(https://adn-static1.nykaa.com/media/wysiwyg/2022/common-strip-prebuzz.jpg);
    
}
#banner>h1{
    margin-top: 10px;
}
#rhl{

    width: 99%;
    height: 450px;
    border: 0px solid black;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}
#rhl>img{
    width: 100%;
    height: 100%;
}
#rhl>button {
    position: absolute;
    top: 35%;
    background-color: rgba(100, 100, 100, 0.1);
    border: none;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}
#rhl>button:hover{
    display: block;
}
#rhl>button:nth-child(2) {
    left: 20px;

}

#rhl>button:nth-child(3) {
    right: 20px;


}
#new_arrival{
    width: 100%;
    height: 100px;
    border: 0px solid red;
    margin: auto;
}
#new_arrival_image{
    width: 99%;
    height: 300px;
    border: 0px solid blue;
    margin: auto;
    margin-top: 10px;
    background-color: #fff;
}
#new_arrival_image>img{
margin-left: 344px;
height: 100%;
cursor: pointer;
}
#new-a{
    width: 99%;
    height: 50px;
    background-color: #fff;
    text-align: center;
}
#new-a>h1{
    margin-top: 10px;
}
#container {
    display: grid;
    /* width: 90%;
    height: 400px; */
    /* border: 1px solid blue; */
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    margin: auto;
    margin-top: 20px;
    gap: 10px;
    background-color: #fff;
  }
  #container > div {
    margin: auto;
    width: 99%;

    /* padding: 20px; */
    box-shadow: rgba(5, 5, 5, 0.16) 0px 1px 4px;
    border-radius: 10px;
  }
  #cartbtn{
    cursor: pointer;
    /* display: grid; */
    margin: auto;
    margin-top: 10px;
    padding: 10px 50px;
    background-color: rgb(40, 30, 224);
    border: none;
    border-radius: 15px;
  }
  #container>div>button:hover{
    font-size: 16px;
    color: white;
    background-color: rgb(196, 195, 195);

}
#container>div>img{
    width: 100%;
    height: 250px;
}


#top_menu{
    width: 99%;
    height: 50px;
    text-align: center;
    background-color: #fff;
}
#top_menu>h1{
    margin-top: 10px;
}
.scrollmenu>div{
    width: 300px;
    height: 250px;
    border: 0px solid green;
    margin-left: 10px;
    cursor: pointer;
  }
  div.scrollmenu {
    background-color: #fff;
    overflow: auto;
    margin-top: 40px;
    white-space: nowrap;
    border: 0px solid red;
    width: 100%;
    /* height:280px; */
    /* display: flex; */
  }
  
  div.scrollmenu div {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    position: relative;
  }
  div.scrollmenu div>img{
    width: 250px;
    height: 240px;
    border: 0px solid yellow;
   
  }
  div.scrollmenu div>img{
  width: 100%;
  }

#top_product{
    width: 99%;
    height: 320px;
    border: 0px solid black;
    margin: auto;
    margin-top: 10px;
    background-color: #fff;
}
#top_brand{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    width: 99%;
    height: 250px;
    border: 0px solid red;
    margin: auto;
    margin-top: 10px;
    background-color: #fff;
}
#top_brand>div{
    border: 0px solid blue;
}
#top_brand>div>img{
    width: 100%;
}






@media screen and (max-width:500px) and (min-width:320px) {
    #menu-btn {
        /* margin-left: 70px; */
        display: block;
    }
  
    #navbar>div>a {
        display: none;
    }
  
    .logo {
        margin-left: 48px;
    }
    #rhl{
        display: none;
    }
    #new_arrival>img{
        width: 100%;
        height: 70px;
        border: 0px solid red;
        margin: auto;
    }
    #new_arrival_image{
       display: none;
    }
   
    /* #new_arrival_image>img{
        width: 100%;
        height: 100%;
    } */
    #container {
        grid-template-columns: repeat(1, 1fr);
        
      }
      #container > div {
        margin: auto;
        width: 90%;
    
        /* padding: 20px; */
        box-shadow: rgba(5, 5, 5, 0.16) 0px 1px 4px;
      }
      #top_product{
        width: 99%;
        height: 986px;
        border: 0px solid black;
        margin: auto;
        margin-top: 10px;
        background-color: #fff;
    }
    #top_brand{
        grid-template-columns: repeat(2,1fr);
       
    }
    #top_brand>div{
        border: 0px solid blue;
    }
    #top_brand>div>img{
        width: 100%;
    }
    #top_menu>h1{
       
        margin-top: 20px;
        font-size: 20px;
    }
    .logo {
        color: rgb(80, 136, 208);
        font-size: 20px;
    }
    #search{
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
    }
    #nav>div>a{
        display: block;
    }
    
   
  }